annotated-types==0.7.0
autopep8==2.3.2
black==26.3.0
boto3==1.42.51
botocore==1.42.51
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
cryptography==46.0.5
distro==1.9.0
et_xmlfile==2.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.190.0
google-auth==2.49.0.dev0
google-auth-httplib2==0.3.0
google-cloud-appengine-logging==1.8.0
google-cloud-audit-log==0.4.0
google-cloud-compute==1.44.0
google-cloud-container==2.63.0
google-cloud-core==2.5.0
google-cloud-logging==3.14.0
google-cloud-monitoring==2.29.1
google-cloud-resource-manager==1.16.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
grpc-google-iam-v1==0.14.3
grpcio==1.78.0
grpcio-status==1.71.2
httplib2==0.31.2
idna==3.11
importlib_metadata==8.7.1
jmespath==1.1.0
mypy_extensions==1.1.0
numpy==2.4.2
openpyxl==3.1.5
opentelemetry-api==1.40.0
packaging==26.0
pandas==3.0.0
pathspec==1.0.4
pdfminer.six==20251230
pdfplumber==0.11.9
pillow==12.1.1
platformdirs==4.9.4
proto-plus==1.27.1
protobuf==5.29.6
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycodestyle==2.14.0
pycparser==3.0
pydantic==2.12.5
pydantic_core==2.41.5
pyparsing==3.3.2
pypdfium2==5.4.0
pytesseract==0.3.13
python-dateutil==2.9.0.post0
pytokens==0.4.1
requests==2.32.5
s3transfer==0.16.0
six==1.17.0
tabula-py==2.10.0
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uritemplate==4.2.0
urllib3==2.6.3
xlsxwriter==3.2.9
zipp==3.23.0
